defaults: &defaults
  working_directory: /go/src/github.com/gruntwork-io/cloud-nuke
  docker:
    - image: 087285199408.dkr.ecr.us-east-1.amazonaws.com/circle-ci-test-image-base:go1.16-go111module
version: 2
jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - run:
          command: run-go-tests --timeout 45m
          no_output_timeout: 45m
  build:
    <<: *defaults
    steps:
      - checkout
      - run: build-go-binaries --app-name cloud-nuke --dest-path bin --ld-flags "-X main.VERSION=$CIRCLE_TAG"
      - persist_to_workspace:
          root: .
          paths: bin
  nuke_phx_devops:
    <<: *defaults
    steps:
      - checkout
      - run:
          command: |
            # We explicitly list the resource types we want to nuke, as we are not ready to nuke some resource types in
            # the AWS account we use at Gruntwork for testing (Phx DevOps) (e.g., S3)
            go run main.go aws \
              --older-than 1h \
              --force \
              --config ./.circleci/nuke_config.yml \
              --exclude-resource-type iam \
              --exclude-resource-type transit-gateway \
              --exclude-resource-type transit-gateway-attachment \
              --exclude-resource-type transit-gateway-route-table
          no_output_timeout: 1h
  nuke_sandbox:
    <<: *defaults
    steps:
      - checkout
      - run:
          command: |
            export AWS_ACCESS_KEY_ID=$SANDBOX_AWS_ACCESS_KEY_ID
            export AWS_SECRET_ACCESS_KEY=$SANDBOX_AWS_SECRET_ACCESS_KEY
            # We explicitly list the resource types we want to nuke, as we are not ready to nuke some resource types in
            # the AWS account we use at Gruntwork for testing (Sandbox) (e.g., S3)
            go run main.go aws \
              --older-than 24h \
              --force \
              --config ./.circleci/nuke_config.yml \
              --exclude-resource-type iam \
              --exclude-resource-type transit-gateway \
              --exclude-resource-type transit-gateway-attachment \
              --exclude-resource-type transit-gateway-route-table
          no_output_timeout: 1h
  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: cd bin && sha256sum * > SHA256SUMS
      - run: upload-github-release-assets bin/*
workflows:
  version: 2
  build-and-test:
    jobs:
      - test:
          filters:
            tags:
              only: /^v.*/
          context:
            - Gruntwork Admin
      - build:
          requires:
            - test
          filters:
            tags:
              only: /^v.*/
          context:
            - Gruntwork Admin
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          context:
            - Gruntwork Admin
  frequently:
    triggers:
      - schedule:
          cron: "0 0,3,6,9,12,15,18,21 * * *"
          filters:
            branches:
              only: master
    jobs:
      - nuke_phx_devops
  nightly:
    triggers:
      - schedule:
          cron: "0 6 * * *"
          filters:
            branches:
              only: master
    jobs:
      - nuke_sandbox
