defaults: &defaults
  resource_class: medium+
  docker:
    - image: 087285199408.dkr.ecr.us-east-1.amazonaws.com/circle-ci-test-image-base:go1.17-tf1.2-tg37.4-pck1.8-ci50.1
version: 2.1
jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - run:
          command: |
            mkdir -p /tmp/logs
            # Run the tests. Note that we set the "-p 1" flag to tell Go to run tests in each package sequentially. Without
            # this, Go buffers all log output until all packages are done, which with slower running tests can cause CircleCI
            # to kill the build after more than 45 minutes without log output.
            run-go-tests --extra-flags '-p 1' --timeout 45m | tee /tmp/logs/all.log
          no_output_timeout: 45m
      - run:
          name: parse test output
          command: terratest_log_parser --testlog /tmp/logs/all.log --outputdir /tmp/logs
          when: always
      - store_artifacts:
          path: /tmp/logs
      - store_test_results:
          path: /tmp/logs

  build:
    <<: *defaults
    steps:
      - checkout
      - run: build-go-binaries --parallel 2 --app-name cloud-nuke --dest-path bin --ld-flags "-X main.VERSION=$CIRCLE_TAG"
      - persist_to_workspace:
          root: .
          paths: bin
  nuke_phx_devops:
    <<: *defaults
    steps:
      - checkout
      - run:
          command: |
            # We explicitly list the resource types we want to nuke, as we are not ready to nuke some resource types in
            # the AWS account we use at Gruntwork for testing (Phx DevOps) (e.g., S3)
            go run main.go aws \
              --older-than 2h \
              --force \
              --config ./.circleci/nuke_config.yml \
              --exclude-resource-type iam \
              --exclude-resource-type iam-group \
              --exclude-resource-type iam-policy \
              --exclude-resource-type ecr \
              --exclude-resource-type config-recorders \
              --exclude-resource-type config-rules 
          no_output_timeout: 1h
  nuke_sandbox:
    <<: *defaults
    steps:
      - checkout
      - run:
          command: |
            export AWS_ACCESS_KEY_ID=$SANDBOX_AWS_ACCESS_KEY_ID
            export AWS_SECRET_ACCESS_KEY=$SANDBOX_AWS_SECRET_ACCESS_KEY
            # We explicitly list the resource types we want to nuke, as we are not ready to nuke some resource types in
            # the AWS account we use at Gruntwork for testing (Sandbox) (e.g., S3)
            go run main.go aws \
              --older-than 24h \
              --force \
              --config ./.circleci/nuke_config.yml \
              --exclude-resource-type iam \
              --exclude-resource-type iam-group \
              --exclude-resource-type iam-policy \
              --exclude-resource-type vpc \
              --exclude-resource-type kmscustomerkeys \
              --exclude-resource-type ecr \
              --exclude-resource-type config-recorders \
              --exclude-resource-type config-rules 
          no_output_timeout: 1h
  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: cd bin && sha256sum * > SHA256SUMS
      - run: upload-github-release-assets bin/*
workflows:
  version: 2
  build-and-test:
    # Make sure this pipeline doesn't run when a schedule is triggered
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - test:
          filters:
            tags:
              only: /^v.*/
          context:
            - Gruntwork Admin
      - build:
          filters:
            tags:
              only: /^v.*/
          context:
            - Gruntwork Admin
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          context:
            - Gruntwork Admin
  nuke_phxdevops:
    when:
      and:
        - equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
        - equal: [ "every 3 hours", << pipeline.schedule.name >> ]
    jobs:
      - nuke_phx_devops:
          context:
            - Gruntwork Admin
  nuke_sandbox:
    when:
      and:
        - equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
        - equal: [ "nightly", << pipeline.schedule.name >> ]
    jobs:
      - nuke_sandbox:
          context:
            - Gruntwork Admin
            - Gruntwork Sandbox
